.footer {
   background: #404040;
   &__content{
      display: grid;
      grid-template-columns: repeat(5,1fr);
      gap: auto 70px;
      align-items: center;
      padding: 15px 0;
   }
   &__logo {   
      margin-right: 30px;
   }

   &__img {
   }

   &__nav {
      
   }

   &__adress {
      &::before{
         content: '';
         background-image: url('../../img/header/Иконка.svg');
         width: 15px;
         height: 15px;
         display: inline-block;
         margin-right: 2px;
      }
   }

   &__link {
      
   }

   &__about {
   }

   &__requisites {
      display: flex;
      flex-direction: column;
   }

   &__item {
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: #FFFFFF;
   }

   &__tel {
      display: flex;
      flex-direction: column;
   }
   &__contacts {
      display:none;
   }
   &__details {
      display: none;
   }
}
