.form {
   &__container {
      display: flex;
      flex-direction: column;
   }

   &__title {
      max-width: 80%;
      justify-self: center;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 33px;
      text-align: center;
      margin: 0 auto;
      color: #FFFFFF;
      margin-bottom: 60px;
   }

   &__form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr);
      gap: 0 50px;
   }

   &__addImg {
      
      &>*:not(:last-child){
         margin-bottom: 30px;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
   }

   &__about {
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      max-width: 70%;
      line-height: 18px;
      color: #FFFFFF;
   }

   &__image {
      @include no-btn;
      @include btn_anim;
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      color: #FFFFFF;

      padding: 12px 15px;
      border: 2px solid white;
      background: #000;
      border-radius: 5px;
      &::before{
         content: '';
      }
   }

   &__inputs {
      display: flex;
      flex-direction: column;
      &>*:not(:last-child){
         margin-bottom: 20px;
      }
   }

   &__name {
   }

   &__tel {
   }

   &__inp {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: #D4D4D4;

      padding: 13px 15px;
      border-radius: 5px;
   }

   &__btn {
      @include no-btn;
      @include btn_anim;
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      color: #FFFFFF;
      border-radius: 5px;
      padding: 12px 20px;
      border: 2px solid white;
   }
   &__bg {
      background: url(../../img/form/bg.webp) center/cover no-repeat ;
      position: absolute;
      filter: brightness(50%);
      top: 0;
      right:0;
      z-index: -1;
      width: 100%;
      height: 100%;
   }

}