.header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   &__container {
      padding: 0 40px;
      border-bottom: 1px solid #fff;
   }

   &__content {
      display: flex;
      align-items: center;
   }

   &__logo {
   }

   &__img {
   }
   &__nav {
      display: flex;

      &>*:not(:last-child){
         margin-right: 30px;
      }
   }

   &__link {
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: #FFFFFF;
      &:hover {
         &::after{
            opacity: 1;
         }
      }
      &::after{
         content:'';
         width: 100%;
         transition: .3s;
         background: #fff;
         display: block;
         height: 3px;
         margin-top: 2px;
         opacity: 0;
      }
   }

   &__contacts {
      display: flex;
      &>*:not(:last-child){
         margin-right: 50px;
      }
   }

   &__adress {
      &::before{
         content: '';
         background-image: url('../../img/header/Иконка.svg');
         width: 15px;
         height: 15px;
         display: inline-block;
         margin-right: 2px;
      }
   }

   &__tel {
   }
   &__menu {
      display: flex;
      justify-content: space-between;
      width:100%;
      margin-left: 130px;
      align-items: center;
   }
   &__burger {
      display: none;
      width: 50px;
      height: 30px;
      position: relative;
      &::before,&::after {
         content:'';
         width: 100%;
         height: 5px;
         position: absolute;
         transition: all .5s;
         background: #D9D9D9;
         border-radius: 11px;
      }
      &::before{
         left: 0;
         top: 0;
      }
      &::after{
         right:0;
         bottom: 0;
         width:80%;

      }
      & span {
         width: 100%;
         height: 5px;
         position: absolute;
         left: 0;
         top: 12px;
         background: #D9D9D9;
         border-radius: 11px;
         transition: all .5s;
      }
      &.active {
         &::before{
            transform: rotate(45deg) translateY(12px);
         }
         &::after{
            width: 0;
         }
         & span {
            transform: translateX(-8px) rotate(-45deg);

         }
      }
   }
}
