.main {

   &__container {
      padding-top: 272px;
      padding-bottom: 50px;
   }

   &__content {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      color: #FFFFFF;
      margin-bottom: 16px;
      max-width: 50%;
      margin-bottom: 224px;
      margin-left: 95px;
   }

   &__title {
      font-size: 48px;
         margin-bottom: 16px;
         line-height: 56px;
   }

   &__subtitle {
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 50px;
   }

   &__buttons {
         margin-bottom: 16px;
         &>*:not(:last-child){
         margin-right: 20px;
      }
   }

   &__btn {
      @include no-btn;
      padding: 12px 17px;
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      border: 3px solid #fff;
      border-radius: 4px;
      color: #FFFFFF;
   }

   &__description {
   }

   &__about {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 0 65px;
   }

   &__item {
      padding: 10px 0;
      text-align: center;

      border: 3px solid #fff;
      border-radius: 5px;
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      flex: 1 1 33%;
      font-family: 'Arial';
      font-size: 18px;
      line-height: 21px;
      color: #FFFFFF;


      &>*:not(:last-child) {
         margin-bottom: 15px;
      }
   }
}


