.services {

   &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   &__head {
      text-align: center;
      font-style: normal;
      max-width: 80%;
      margin: 0 auto;
   }

   &__title {
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 54px;
      line-height: 63px;
      color: #E7E7E7;
      margin-bottom: 10px;
   }

   &__subtitle {
      font-family: 'Arial';
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: #252525;
      margin-bottom: 60px;
   }

   &__grid {
      display: grid;
      grid-template-columns: repeat(4,minmax(250px, 1fr));
      grid-template-rows: repeat(1, 1fr);
      gap: 20px;
      margin-bottom: 60px;
   }

   &__item {
      border: 1px solid #D4D4D4;
      transition: all .2s;
      &:hover{
         background: #ED7173;
         border: 1px solid #ED7173;
         &>*{
            color: white;
         }
      }
   }

   &__itemBg {
      width: 100%;
      height: 210px;
      background: var(--bg) center/cover no-repeat;
   }

   &__itemContent {
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      padding: 14px 0;
      text-align: center;
      color: #252525;

   }
   &__btn {
      display: flex;
      justify-content: center;
   }
   &__moreBtn {
      @include no-btn;
      @include btn_anim;
      padding: 12px 20px;
      border: 1px solid #D4D4D4;
      text-align: center;
      &:hover{
         background: #ED7173;
         border: 1px solid #ED7173;
         color: white;
      }
   }
}