<article class="page__benefits">
   <div class="benefits__container _container">
      <div class="benefits__head">
         <div class="benefits__title">Выгоды</div>
         <div class="benefits__subtitle">Ваш автомобиль будет блестеть как после покупки, а вы будете довольны выбором
         </div>
      </div>
      <div class="benefits__grid">
         <div class="benefits__item">
            <img src="../../img/benefits/benefits-1.svg" alt="" class="benefits__itemImg">
            <div class="benefits__itemContent">Удобная локация на Ленинградском шоссе
            </div>
         </div>
         <div class="benefits__item">
            <img src="../../img/benefits/benefits-2.svg" alt="" class="benefits__itemImg">
            <div class="benefits__itemContent">Осмотр автомобиля производится бесплатно</div>
         </div>
         <div class="benefits__item">
            <img src="../../img/benefits/benefits-3.svg" alt="" class="benefits__itemImg">
            <div class="benefits__itemContent">Для вашего удобства возможен наличный и безналичный расчет</div>
         </div>
         <div class="benefits__item">
            <img src="../../img/benefits/benefits-4.svg" alt="" class="benefits__itemImg">
            <div class="benefits__itemContent">Работаем по заказ-наряду с предоставлением гарантийных обязательств</div>
         </div>
         <div class="benefits__item">
            <img src="../../img/benefits/benefits-5.svg" alt="" class="benefits__itemImg">
            <div class="benefits__itemContent">Для юридических лиц возможна оплата переводом на расчётный счёт </div>
         </div>
      </div>
   </div>
</article>