<article class="page__cases">
   <div class="cases__container _container">
      <div class="cases__head">
         <div class="cases__title">Услуги</div>
         <div class="cases__subtitle">Выбирайте качественные материалы и проверенных
            исполнителей, чтобы машина засияла как после салона</div>
         <div class="cases__desc">6 лет мы помогаем автолюбителям и делаем качественную покраску и ремонт авто в
            пределах МКАД</div>
      </div>
      <div class="cases__grid">
         <div class="cases__item">
            <div class="cases__itemContent">
               <div class="cases__itemName">Бампер (передний)</div>
               <img class="cases__itemImg" src="../../img/cases/1.webp">
            </div>
            <div class="cases__itemAbout">
               <div class="cases__itemGrid">
                  <div class="cases__itemCase">Покраска целиком 8 000 руб.</div>
                  <div class="cases__itemCase">Локальная покраска 3 500 руб.</div>
                  <div class="cases__itemCase">Съем установка 3 000 руб.</div>
                  <div class="cases__itemCase">Разбор 1 000 руб.</div>
                  <div class="cases__itemCase">Ремонтные работы оцениваются
                     по факту осмотра</div>
                  <div class="cases__itemCase">1 год гарантии</div>
               </div>
               <button class="cases__itemBtn">Оставить заявку</button>
            </div>
         </div>
         <div class="cases__item">
            <div class="cases__itemContent">
               <div class="cases__itemName">Бампер (передний)</div>
               <img class="cases__itemImg" src="../../img/cases/1.webp">
            </div>
            <div class="cases__itemAbout">
               <div class="cases__itemGrid">
                  <div class="cases__itemCase">Покраска целиком 8 000 руб.</div>
                  <div class="cases__itemCase">Локальная покраска 3 500 руб.</div>
                  <div class="cases__itemCase">Съем установка 3 000 руб.</div>
                  <div class="cases__itemCase">Разбор 1 000 руб.</div>
                  <div class="cases__itemCase">Ремонтные работы оцениваются
                     по факту осмотра</div>
                  <div class="cases__itemCase">1 год гарантии</div>
               </div>
               <button class="cases__itemBtn">Оставить заявку</button>
            </div>
         </div>
         <div class="cases__item">
            <div class="cases__itemContent">
               <div class="cases__itemName">Бампер (передний)</div>
               <img class="cases__itemImg" src="../../img/cases/1.webp">
            </div>
            <div class="cases__itemAbout">
               <div class="cases__itemGrid">
                  <div class="cases__itemCase">Покраска целиком 8 000 руб.</div>
                  <div class="cases__itemCase">Локальная покраска 3 500 руб.</div>
                  <div class="cases__itemCase">Съем установка 3 000 руб.</div>
                  <div class="cases__itemCase">Разбор 1 000 руб.</div>
                  <div class="cases__itemCase">Ремонтные работы оцениваются
                     по факту осмотра</div>
                  <div class="cases__itemCase">1 год гарантии</div>
               </div>
               <button class="cases__itemBtn">Оставить заявку</button>
            </div>
         </div>
         <div class="cases__item">
            <div class="cases__itemContent">
               <div class="cases__itemName">Бампер (передний)</div>
               <img class="cases__itemImg" src="../../img/cases/1.webp">
            </div>
            <div class="cases__itemAbout">
               <div class="cases__itemGrid">
                  <div class="cases__itemCase">Покраска целиком 8 000 руб.</div>
                  <div class="cases__itemCase">Локальная покраска 3 500 руб.</div>
                  <div class="cases__itemCase">Съем установка 3 000 руб.</div>
                  <div class="cases__itemCase">Разбор 1 000 руб.</div>
                  <div class="cases__itemCase">Ремонтные работы оцениваются
                     по факту осмотра</div>
                  <div class="cases__itemCase">1 год гарантии</div>
               </div>
               <button class="cases__itemBtn">Оставить заявку</button>
            </div>
         </div>
         <div class="cases__item">
            <div class="cases__itemContent">
               <div class="cases__itemName">Бампер (передний)</div>
               <img class="cases__itemImg" src="../../img/cases/1.webp">
            </div>
            <div class="cases__itemAbout">
               <div class="cases__itemGrid">
                  <div class="cases__itemCase">Покраска целиком 8 000 руб.</div>
                  <div class="cases__itemCase">Локальная покраска 3 500 руб.</div>
                  <div class="cases__itemCase">Съем установка 3 000 руб.</div>
                  <div class="cases__itemCase">Разбор 1 000 руб.</div>
                  <div class="cases__itemCase">Ремонтные работы оцениваются
                     по факту осмотра</div>
                  <div class="cases__itemCase">1 год гарантии</div>
               </div>
               <button class="cases__itemBtn">Оставить заявку</button>
            </div>
         </div>
         <div class="cases__item">
            <div class="cases__itemContent">
               <div class="cases__itemName">Бампер (передний)</div>
               <img class="cases__itemImg" src="../../img/cases/1.webp">
            </div>
            <div class="cases__itemAbout">
               <div class="cases__itemGrid">
                  <div class="cases__itemCase">Покраска целиком 8 000 руб.</div>
                  <div class="cases__itemCase">Локальная покраска 3 500 руб.</div>
                  <div class="cases__itemCase">Съем установка 3 000 руб.</div>
                  <div class="cases__itemCase">Разбор 1 000 руб.</div>
                  <div class="cases__itemCase">Ремонтные работы оцениваются
                     по факту осмотра</div>
                  <div class="cases__itemCase">1 год гарантии</div>
               </div>
               <button class="cases__itemBtn">Оставить заявку</button>
            </div>
         </div>
         <div class="cases__item">
            <div class="cases__itemContent">
               <div class="cases__itemName">Бампер (передний)</div>
               <img class="cases__itemImg" src="../../img/cases/1.webp">
            </div>
            <div class="cases__itemAbout">
               <div class="cases__itemGrid">
                  <div class="cases__itemCase">Покраска целиком 8 000 руб.</div>
                  <div class="cases__itemCase">Локальная покраска 3 500 руб.</div>
                  <div class="cases__itemCase">Съем установка 3 000 руб.</div>
                  <div class="cases__itemCase">Разбор 1 000 руб.</div>
                  <div class="cases__itemCase">Ремонтные работы оцениваются
                     по факту осмотра</div>
                  <div class="cases__itemCase">1 год гарантии</div>
               </div>
               <button class="cases__itemBtn">Оставить заявку</button>
            </div>
         </div>
         <div class="cases__item">
            <div class="cases__itemContent">
               <div class="cases__itemName">Бампер (передний)</div>
               <img class="cases__itemImg" src="../../img/cases/1.webp">
            </div>
            <div class="cases__itemAbout">
               <div class="cases__itemGrid">
                  <div class="cases__itemCase">Покраска целиком 8 000 руб.</div>
                  <div class="cases__itemCase">Локальная покраска 3 500 руб.</div>
                  <div class="cases__itemCase">Съем установка 3 000 руб.</div>
                  <div class="cases__itemCase">Разбор 1 000 руб.</div>
                  <div class="cases__itemCase">Ремонтные работы оцениваются
                     по факту осмотра</div>
                  <div class="cases__itemCase">1 год гарантии</div>
               </div>
               <button class="cases__itemBtn">Оставить заявку</button>
            </div>
         </div>
         <div class="cases__item">
            <div class="cases__itemContent">
               <div class="cases__itemName">Бампер (передний)</div>
               <img class="cases__itemImg" src="../../img/cases/1.webp">
            </div>
            <div class="cases__itemAbout">
               <div class="cases__itemGrid">
                  <div class="cases__itemCase">Покраска целиком 8 000 руб.</div>
                  <div class="cases__itemCase">Локальная покраска 3 500 руб.</div>
                  <div class="cases__itemCase">Съем установка 3 000 руб.</div>
                  <div class="cases__itemCase">Разбор 1 000 руб.</div>
                  <div class="cases__itemCase">Ремонтные работы оцениваются
                     по факту осмотра</div>
                  <div class="cases__itemCase">1 год гарантии</div>
               </div>
               <button class="cases__itemBtn">Оставить заявку</button>
            </div>
         </div>
      </div>
   </div>
</article>