<article class="page__comments">
   <div class="comments__container _container">
      <div class="comments__head">
         <div class="comments__title">Отзывы клиентов</div>
         <div class="comments__subtitle">Посмотрите на отзывы тех, кто уже обращался в нашу автомастерскую</div>
      </div>
      <div class="swiper">
         <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../../img/slider/1.webp" alt="" class="slider__img"></div>
            <div class="swiper-slide"><img src="../../img/slider/2.webp" alt="" class="slider__img"></div>
         </div>
         <div class="swiper-pagination"></div>
         <div class="swiper-button-prev"></div>
         <div class="swiper-button-next"></div>
      </div>
   </div>
</article>