<article class="page__details">
   <div class="details__container _container">
      <div class="details__head">
         <div class="details__title">Подробнее о Центре Автопокраски</div>
         <div class="details__subtitle">Полное или частичное восстановление ЛКП за короткие сроки и с гарантией качества
         </div>
      </div>
      <div class="details__grid">
         <div class="details__item">
            <div class="details__num">01</div>
            <div class="details__description">Уже 6 лет мы занимаемся качественным
               восстановлением машин от повреждений разной сложности. Рейтинг нашей мастерской на Яндексе составляет
               4,5.</div>
         </div>
         <div class="details__item">
            <div class="details__num">02</div>
            <div class="details__description">Заметили следы естественного износа?
               Мы легко удалим царапины, вмятины, коррозию и ржавчину, которые могут изрядно подпортить внешний вид
               автомобиля.
            </div>
         </div>
         <div class="details__item">
            <div class="details__num">03</div>
            <div class="details__description">Попали в ДТП и хотите сохранить вид вашего авто? Исправим повреждения
               за короткий срок!</div>
         </div>
         <div class="details__item">
            <div class="details__num">04</div>
            <div class="details__description">Использование качественных материалов: Sikkens, Akzo, Nobel, Brulex, 3M,
               Car System, Body Reoflex, позволяет сохранить результат работы надолго. Гарантия на все виды работ
               составляет 1 год.</div>
         </div>
      </div>
   </div>
</article>