<article class="page__examples">
   <div class="examples__container _container">
      <div class="examples__head">
         <div class="examples__title">Примеры работ</div>
         <div class="examples__subtitle">Наша автомастерская - это семейный бизнес, поэтому мы делаем все как для себя.
            Качественно. Надолго. Без переплат. Посмотрите примеры выполненных работ,
            чтобы быть уверенным в надежности специалистов, в руки которых вы передадите автомобиль</div>
      </div>
      <div class="examples__grid">
         <div class="examples__item">
            <div style="--bg:url(../../img/examples/1.webp)"></div>
         </div>
         <div class="examples__item">
            <div style="--bg:url(../../img/examples/1.webp)"></div>
         </div>
         <div class="examples__item">
            <div style="--bg:url(../../img/examples/1.webp)"></div>
         </div>
         <div class="examples__item">
            <div style="--bg:url(../../img/examples/1.webp)"></div>
         </div>
      </div>
      <div class="examples__btn">
         <button class="examples__moreBtn">Посмотреть ещё</button>
      </div>
   </div>
</article>