<footer class="footer">
   <div class="footer__content _container">
      <img src="../../img/header/logo.svg" alt="" class="footer__img">
      <div class="footer__adress footer__link footer__item">Москва, Ленинградское шоссе 29-35</div>
      <div class="footer__about footer__item">Юр. реквизиты</div>
      <div class="footer__requisites">
         <div class="footer__item">ИНН 026601687198 </div>
         <div class="footer__item">ОГРН 322774600628427</div>
      </div>
      <div class="footer__tel">
         <a href="#" class="footer__item">+7 (901) 704-13-44</a>
         <a href="#" class="footer__item">+7 (916) 780-22-59</a>
      </div>
      <div class="footer__text">
         <div class="footer__contacts">
            <div class="footer__adress footer__link footer__item">Москва, Ленинградское шоссе 29-35</div>
            <div class="footer__tel">
               <a href="#" class="footer__item">+7 (901) 704-13-44</a>
               <a href="#" class="footer__item">+7 (916) 780-22-59</a>
            </div>
         </div>
         <div class="footer__details">
            <div class="footer__about footer__item">Юр. реквизиты</div>
            <div class="footer__requisites">
               <div class="footer__item">ИНН 026601687198 </div>
               <div class="footer__item">ОГРН 322774600628427</div>
            </div>
         </div>
      </div>
   </div>
</footer>