<article class="page__form">
   <div class="form__bg" style="--bg:url(../../img/form/bg.webp)"></div>
   <div class="form__container _container">
      <div class="form__title">Испытайте снова ту радость, когда вы только купили блестящую
         машинку в салоне! Качественный покрас и ремонт автомобиля
         - это отличный вариант обновить авто без покупки нового</div>
      <form action="" class="form__form">
         <div class="form__addImg">
            <div class="form__about">Вы можете добавить фото для оценки
               стоимости ремонта через форму</div>
            <input type="image" class="form__image" src="" value="Добавить файл">
         </div>
         <div class="form__inputs">
            <input type="text" placeholder="Ваше имя" class="form__name form__inp">
            <input type="text" placeholder="Ваш номер телефона" class="form__tel form__inp">
            <button class="form__btn">Заказать звонок</button>
         </div>
      </form>
   </div>
</article>