<header class="header">
   <div class="header__container">
      <div class="header__content">
         <div class="header__logo"><img src="../../img/header/logo.svg" alt="" class="header__img img"></div>
         <div class="header__burger"><span></span></div>
         <div class="header__menu">
            <nav class="header__nav">
               <a href="" class="header__link">Главная</a>
               <a href="" class="header__link">Услуги</a>
               <a href="" class="header__link">Примеры работ</a>
               <a href="" class="header__link">Контакты</a>
            </nav>
            <div class="header__contacts">
               <a href="" class="header__adress header__link">Москва, Ленинградское шоссе 29-35</a>
               <a href="" class="header__tel header__link">+7 (901) 704-13-44</a>
            </div>
         </div>
      </div>
   </div>
</header>