<article class="page__main" style="--bg:url(../img/main/bg.webp)">
   <div class="main__container _container">
      <div class="main__content">
         <div class="main__title">Кузовной ремонт
            любой сложности</div>
         <div class="main__subtitle">на Ленинградском шоссе в Москве</div>
         <div class="main__buttons">
            <button class="main__btn">Оставить заявку</button>
            <button class="main__btn">Оценить стоимоть ремонта по фото</button>
         </div>
         <div class="main__description">Оставляйте заявку сейчас и получите <span class="warning">10 % скидку</span> на
            покраску</div>
      </div>
      <div class="main__about">
         <div class="main__item">
            <img src="../../img/main/1.svg" alt="" class="main__itemIcon">
            <div class="main__itemText">Гарантия 1 год</div>
         </div>
         <div class="main__item">
            <img src="../../img/main/2.svg" alt="" class="main__itemIcon">
            <div class="main__itemText">Делаем как для себя:
               качественно и без переплат</div>
         </div>
         <div class="main__item">
            <img src="../../img/main/3.svg" alt="" class="main__itemIcon">
            <div class="main__itemText">Салон расположен
               в пределах МКАД </div>
         </div>
      </div>
   </div>
</article>