<article class="page__services">
   <div class="services__container _container">
      <div class="services__head">
         <div class="services__title">Услуги</div>
         <div class="services__subtitle">Помимо нанесения лакокрасочных покрытий вы можете получить
            услуги по ремонту и вернуть своей "ласточке" заводской вид</div>
      </div>
      <div class="services__grid">
         <div class="services__item">
            <div class="services__itemBg" style="--bg:url(../../img/services/1.webp)"></div>
            <div class="services__itemContent">Замена деталей</div>
         </div>
         <div class="services__item">
            <div class="services__itemBg" style="--bg:url(../img/services/1.webp)"></div>
            <div class="services__itemContent">Замена деталей</div>
         </div>
         <div class="services__item">
            <div class="services__itemBg" style="--bg:url(../img/services/1.webp)"></div>
            <div class="services__itemContent">Замена деталей</div>
         </div>
         <div class="services__item">
            <div class="services__itemBg" style="--bg:url(../img/services/1.webp)"></div>
            <div class="services__itemContent">Замена деталей</div>
         </div>
         <div class="services__item">
            <div class="services__itemBg" style="--bg:url(../img/services/1.webp)"></div>
            <div class="services__itemContent">Замена деталей</div>
         </div>
         <div class="services__item">
            <div class="services__itemBg" style="--bg:url(../img/services/1.webp)"></div>
            <div class="services__itemContent">Замена деталей</div>
         </div>
         <div class="services__item">
            <div class="services__itemBg" style="--bg:url(../img/services/1.webp)"></div>
            <div class="services__itemContent">Замена деталей</div>
         </div>
         <div class="services__item">
            <div class="services__itemBg" style="--bg:url(../img/services/1.webp)"></div>
            <div class="services__itemContent">Замена деталей</div>
         </div>
      </div>
      <div class="services__btn">
         <button class="services__moreBtn">Подробнее</button>
      </div>
   </div>
</article>